body{
	background: #141414;
	font-family: 'Open Sans', sans-serif;
}
.contenedor{
	width: 90%;
	margin: auto;
}
header{
	padding: 25px 0;
}
header .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header ul{
	display: flex;
}
header ul a{
	list-style: none;
	text-decoration: none;
}
header .logo{
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: #E50914;
	font-size: 60px;
}
header nav a {
	color: #aaa;
	text-decoration: none;
	margin-right: 20px;
}
header nav {
	margin-right: 40px;
}
header nav a:hover,
header nav a.activo{
	color: #fff;
}
.dropbtn {
	color: white;
	background: #141414;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #141414;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px ;
	z-index: 1;
}
.dropdown-content a {
	color: #aaa;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	color: #fff;
}
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */


/*--------------------PELICULA PRINCIPAL-----------------*/
.pelicula-principal{
	font-size: 14px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50)0%, rgba(0, 0, 0, .50)100%),url("../imágenes/portada-endgame.jpg");
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}
.pelicula-principal .contenedor{
	margin: 0 auto;
	margin-bottom: 6.25em;
}
.pelicula-principal .titulo{
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}
.pelicula-principal .descripcion{
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}
.pelicula-principal .boton{
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}
.pelicula-principal .boton:hover{
	background: #fff;
	color: #000;
}
.pelicula-principal .boton i{
	margin-right: 1.25em;
}
.botoness
{
	text-decoration: none;
	color: inherit;
}
/* peiculas de abajo */
.contenedor-titulo-controles 
{
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.contenedor-titulo-controles h3 
{
	color: #fff;
	font-size: 30px;
}
.peliculas-recomendadas 
{
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal 
{
	display: flex;
	align-items: center;
	position: relative;
}
/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel 
{
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel 
{
	display: flex;
	flex-wrap: nowrap;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover 
{
	transform: scale(1.2);
	transform-origin: center;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}


/* FOOTER STYLE */
footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

.footer-content {
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.footer-content p {
    font-size: 18px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content li {
    font-size: 14px;
}

.footer-content ul li a {
    color: #ffffff; 
    font-size: 15px; 
    margin-right: 10px;	
}

/*CAMBIO PEQUEÑIN*/
.dropdown-content a:hover{
	color: rgb(188, 25, 25);
}


/* Estilos CSS */
.user-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-btn i {
    font-size: 1.2rem;
    color: #333;
    margin-left: 10px;
}

/*ICONO DE USUARIO*/
.lista-desplegable {
  display: none;
  position: absolute;
  background-color: #141414;
  color:#aaa;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.lista-desplegable ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}

.lista-desplegable ul li {
  padding: 12px;
  cursor: pointer;
  display: block;
}

.lista-desplegable ul li:hover {
	color: rgb(188, 25, 25);
}
  
  /* Añadimos esta regla para mostrar los elementos de la lista uno debajo del otro */
  


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logo {
		margin-bottom: 10px;
		font-size: 60px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
	header nav{
		margin-left: 40px;
	}
	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: block;
	}
	.pelicula{
		margin: 20px;
	}
}